

:root{
    /* To change the background color in CSS, wich is hardcoded right now (#23c83737)
     *  use flter to dye e.g.:
     *     fiilter: hue-rotate(123deg) saturate(0.5) brightness(390%) saturate(2)
     *
     *  Note: using \ to escape newlines works well in Chrome and Firefox
     * but it destroys syntax highlighting in my editor. Actually, having
     * a full stop at the end of this comment and some magic(?) number
     * of characters in the last line restores syntax highlighting again.
     */
     --sts-signet-url: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='70' height='70'>\
          <path fill='%23c83737' d='M 35,0 16.736246,18.263753 c 2.053647,0.0012 3.889897,0.234455 5.505268,0.706205 0.763696,0.217407 1.48795,0.484622 2.175185,0.799843 h 21.133438 c 0.687235,-0.315372 1.411482,-0.582398 2.175185,-0.799843 1.623992,-0.474282 3.471492,-0.707495 5.538432,-0.706205 z M 16.584082,23.456887 c -0.793339,0 -1.502145,0.104126 -2.126416,0.312134 -0.61126,0.208008 -1.098982,0.520273 -1.463128,0.936402 -0.351152,0.416168 -0.526727,0.936383 -0.526727,1.560672 0,0.507222 0.149554,0.962444 0.448694,1.365586 0.299138,0.390158 0.825864,0.786831 1.580179,1.190013 0.754326,0.390156 1.807773,0.845377 3.160358,1.365586 3.225369,0.949439 5.670436,2.139422 7.335154,3.570036 1.677706,1.417589 2.516583,3.34897 2.516583,5.793991 0,1.677732 -0.455206,3.108388 -1.365587,4.291845 -0.910393,1.17051 -2.178445,2.067907 -3.804137,2.692159 -1.625694,0.611113 -3.518023,0.916893 -5.67694,0.916893 -1.649243,0 -3.164144,-0.115024 -4.549357,-0.339445 L 35,70 57.896996,47.103004 c -1.396744,0.22907 -2.926052,0.347249 -4.592274,0.347249 -2.15891,0 -4.051228,-0.305628 -5.676942,-0.916893 -1.625707,-0.624252 -2.893732,-1.521687 -3.804136,-2.692158 -0.910362,-1.183533 -1.365587,-2.614114 -1.365587,-4.291846 0,-2.445021 0.838889,-4.376402 2.516583,-5.793991 1.664699,-1.430613 4.109784,-2.620597 7.335154,-3.570035 1.352585,-0.52021 2.406013,-0.97543 3.160358,-1.365587 0.754296,-0.403182 1.281192,-0.799893 1.58018,-1.190012 0.29881,-0.40262 0.448305,-0.857208 0.448693,-1.363636 -3.72e-4,-0.623409 -0.176013,-1.144945 -0.526727,-1.560672 -0.364142,-0.416129 -0.851864,-0.728394 -1.463129,-0.936402 -0.624247,-0.208008 -1.333072,-0.312134 -2.126415,-0.312134 -0.923386,0 -1.794786,0.08883 -2.614123,0.271166 -0.815604,0.18113 -1.444589,0.38077 -1.886462,0.600859 l -0.158017,0.74522 h -0.0039 l -0.643777,3.062817 h -5.072187 v -3.062817 h -4.58057 v 22.044479 l 2.965275,0.624268 v 3.99922 h -12.77799 v -3.99922 l 2.965275,-0.624268 V 25.074132 h -4.613734 v 3.062817 h -5.072181 l -0.643777,-3.062817 -0.01171,-0.05463 -0.146313,-0.688646 C 20.646491,24.110092 20.016152,23.909634 19.1982,23.728051 18.378859,23.545713 17.507466,23.456885 16.584077,23.456885 Z m 47.329301,5.456496 c -0.180712,0.523861 -0.417802,1.007702 -0.717909,1.447522 -0.76732,1.105501 -1.931344,2.061409 -3.492001,2.867733 -1.560674,0.806362 -3.557044,1.59971 -5.989075,2.380024 -1.079453,0.416205 -1.937836,0.825885 -2.575108,1.229028 -0.637272,0.390158 -1.09227,0.806359 -1.365587,1.248537 -0.2861,0.442178 -0.429184,0.942902 -0.429184,1.502147 -1.2e-5,0.585216 0.149704,1.085978 0.448692,1.502145 0.299109,0.416055 0.741316,0.73469 1.326571,0.955911 0.585212,0.208008 1.31357,0.312134 2.18494,0.312134 1.248536,0 2.399538,-0.156 3.452984,-0.468201 1.053447,-0.32515 1.788285,-0.721785 2.204448,-1.190012 l 0.585252,-3.784627 h 5.286773 v 3.250098 L 70,35 Z M 6.0612564,28.938744 0,35 5.1326571,40.132658 v -3.214983 h 5.2867739 l 0.585251,3.784627 c 0.416182,0.468226 1.151001,0.864975 2.204448,1.190012 1.053458,0.312277 2.204456,0.468201 3.452985,0.468201 0.871377,0 1.599693,-0.104126 2.18494,-0.312134 0.585254,-0.221221 1.027431,-0.539857 1.32657,-0.955911 0.299124,-0.416205 0.448692,-0.916892 0.448692,-1.502146 0,-0.559243 -0.143069,-1.059968 -0.429184,-1.502146 C 19.920004,37.646 19.464821,37.229798 18.827546,36.839641 18.190274,36.436498 17.331891,36.026818 16.252438,35.610613 13.8204,34.830298 11.824033,34.036951 10.263364,33.230589 8.7027015,32.424265 7.5386817,31.466368 6.7713617,30.360905 6.4760035,29.928052 6.2409671,29.453355 6.0612564,28.938744 Z' />\
       </svg>");
}

body {
    flex-direction: column;
}

.sts_logo {
     color: black;
     font-family: 'RobotoSlab', serif;
     /* should must not be inline but block or inline-block work
      * inline-block is nice to center it using text-align.
      */
     display:inline-block;
     text-align: left;

     -webkit-print-color-adjust: exact !important;   /* Chrome, Safari, Edge */
    color-adjust: exact !important;


     /* size of the svg logo */
     --signet-size: 1.75em;
     --logo-font-size-protocol: 0.26667;
     /* positioning of the protocol and subsequent of the
      * rest of the logo main text.
      */
     --x-translate: calc((1.525 + var(--x-compensate-missing-protocol, 0) * 0.475));
     --y-translate: 0.3;
     /* wrapped version */
     --wrapped-y-translate: -0.1;
     /* the internal em of the logo */
     font-size: calc(1rem * var(--logo-font-size-numeric) );
     line-height: 1em;
}

.sts_logo-wrapper {
     display: inline-block;
     min-height: var(--signet-size);
     padding-right: calc(var(--x-translate) * 1em);

     text-decoration: none;
     color: black;
}

.sts_logo-wrapper::before {
    content: "";
    background: no-repeat var(--sts-signet-url);
    background-size: contain;
    position: absolute;
    width: var(--signet-size);
    height: var(--signet-size);
}

.sts_logo-protocol{
     font-size: calc( 1em * var(--logo-font-size-protocol));
     font-weight: 400;
}

.sts_logo-strong,
.sts_logo-type {
     font-weight: 800;
}

.sts_logo-hyphen {
     /* A manual kerning as the current versio of the font is missing this. */
     margin-right: -0.1em;
}

.sts_logo-systems {
     font-weight: 100;
}

.sts_logo-strong,
.sts_logo-type,
.sts_logo-systems {
     position: relative;
     top: calc(1em * var(--y-translate) );
     left: calc(1em * var(--x-translate) );
}
.sts_logo-protocol {
     position: relative;
     top: calc(1em * (var(--y-translate) / var(--logo-font-size-protocol)));
     left: calc(1em * (var(--x-translate) / var(--logo-font-size-protocol)));
}


/* using custom properties this could also be done in @media queries */
/* line break version*/
/* no automatic line breaks*/
.sts_logo-wrapper {
     white-space: nowrap;
}

/* manual line breaks */
.sts_logo-strong::before,
.sts_logo-systems::before{
     content: "";
     display: block;
}

/* move closer to protocol */
.sts_logo-strong,
.sts_logo-type,
.sts_logo-systems {
     top: calc(1em * var(--wrapped-y-translate));
}

/* right align */
.sts_logo-systems {
    display: block;
    text-align: right;
}




/* TODO make a logo without the url protocol and special characters*/

.sts_logo {
     --wrapped-y-translate: 1.1;
     --x-compensate-missing-protocol: 0;
}

.sts_logo {
    /*
     * original is 1.525
     * without protocol is 2
     * so the protocol is responsible for 0.475
     */
     --x-compensate-missing-protocol: 1;
}

/* END logo setup */

/* END old main.css */



/* .sts_logo-no_url */
.sts_logo-protocol, .sts_logo-hyphen, .sts_logo-dot {
    display: none;
}
.sts_logo-space {
    display: initial;
}

.sts_logo {
    --x-compensate-missing-protocol: 1;
}


.sts_logo {
     --wrapped-y-translate: 1.1;
     --x-compensate-missing-protocol: 0;
     padding-bottom: calc(1em * var(--wrapped-y-translate));
}



/* with url */
/* The em base in media queries comes from the user’s default setting
 * (usually 16px browser if not changed).
 * Also, the browser zoom changes this, so when zooming in, the page
 * changes into moblile as well, but it would so also with pixels in
 * the query.
 * UNFORRTUNATELY: changing the :root font-size is not affecting the
 * media query results,hence it's not super useful.
 */
@media (min-width: 50em) { /* 800px at 12pt/16px */
    .sts_logo-protocol, .sts_logo-hyphen, .sts_logo-dot {
        display: initial;
    }
    .sts_logo-space {
        display: none;
    }
    .sts_logo {
        --x-compensate-missing-protocol: 0;
        --wrapped-y-translate: -0.1;
        padding-bottom: 0;
    }
}

header{
    margin-right: 1em;
    /* for nav menu alignmnet right */
    display: block;
    align-items: initial;
}

.main-menu {
    margin-top: .5em;
}
/* make this expandable on click*/
.main-menu > ul li {
    text-align: center;
    border-bottom: 1px dotted;
}


article {
    margin-left: 0;
}

:root {
    --animation-position-mediaq: 20;
    --logo-font-size-numeric: 1.5;
    --animation-progress: 0;
}

/* 24em 384px is good for the break, will stay flat at top for
 * bigger phones then.
 */
@media (min-width: 24em) {
    :root {
        --animation-progress: 0.05;
        --animation-position-mediaq: 24;
        --logo-font-size-numeric: 1.6333333333333333;
    }
}

@media (min-width: 25em) {
    :root {
        --animation-progress: 0.0625;
        --animation-position-mediaq: 25;
        --logo-font-size-numeric: 1.6666666666666667;
    }
}
@media (min-width: 30em) {
    :root {
        --animation-progress: 0.125;
        --animation-position-mediaq: 30;
        --logo-font-size-numeric: 1.8333333333333335;
    }
}
@media (min-width: 35em) {
    :root {
        --animation-progress: 0.1875;
        --animation-position-mediaq: 35;
        --logo-font-size-numeric: 2.0;
    }

    /* unwrap logo here*/
    .sts_logo {
        --x-compensate-missing-protocol: 1;
        padding-bottom: 0;
    }

    .sts_logo-wrapper {
        white-space: normal;
    }

    .sts_logo-strong::before,
    .sts_logo-systems::before{
        content: none;
        display: none;
    }

    .sts_logo-strong,
    .sts_logo-type,
    .sts_logo-systems {
        top: calc(1em * var(--y-translate));
        left: calc(1em * var(--x-translate));
    }

    .sts_logo-protocol {
        top: calc(1em  * (var(--y-translate) / var(--logo-font-size-protocol)));
        left: calc(1em * (var(--x-translate) / var(--logo-font-size-protocol)));
    }

    .sts_logo-systems {
        display: inline;
        text-align: initial;
    }
    .main-menu{
        margin-top: 0;
    }
    .main-menu > ul li{
        border: none;
        text-align: right;
    }

    .main-menu > ul > li {
        display: inline;
        margin-right: calc(.2rem * var(--logo-font-size-numeric));
    }

    .main-menu,
    article {
        margin-left: calc(2.1rem * var(--logo-font-size-numeric));
    }
}
@media (min-width: 40em) {
    :root {
        --animation-progress: 0.25;
        --animation-position-mediaq: 40;
        --logo-font-size-numeric: 2.166666666666667;
    }
}
@media (min-width: 45em) {
    :root {
        --animation-progress: 0.3125;
        --animation-position-mediaq: 45;
        --logo-font-size-numeric: 2.3333333333333335;
    }
}

@media (min-width: 50em) { /* 800px at 12pt/16px */
    :root {
        --animation-progress: 0.375;
        --animation-position-mediaq: 50;
        --logo-font-size-numeric: 2.5;
    }
    .sts_logo {
        --x-compensate-missing-protocol: 0;
    }
    .main-menu,
    article {
        margin-left: calc(2.5rem * var(--logo-font-size-numeric));
    }
}
@media (min-width: 55em) {
    :root {
        --animation-progress: 0.4375;
        --animation-position-mediaq: 55;
        --logo-font-size-numeric: 2.666666666666667;
    }
}
@media (min-width: 60em) {
    :root {
        --animation-progress: 0.5;
        --animation-position-mediaq: 60;
        --logo-font-size-numeric: 2.8333333333333335;
    }
}
@media (min-width: 65em) {
    :root {
        --animation-progress: 0.5625;
        --animation-position-mediaq: 65;
        --logo-font-size-numeric: 3.0;
    }
}
@media (min-width: 70em) {
    :root {
        --animation-progress: 0.625;
        --animation-position-mediaq: 70;
        --logo-font-size-numeric: 3.166666666666667;
    }
}
@media (min-width: 75em) { /* 1200px at 12pt/16px */
    :root {
        --animation-progress: 0.6666666666666666;
        --animation-position-mediaq: 75;
        --logo-font-size-numeric: 3.2777777777777777;
    }

    /* wrap logo here */

    /* line break version*/
    /* no automatic line breaks*/
    .sts_logo .sts_logo-wrapper {
         white-space: nowrap;
    }

    /* manual line breaks */
    .sts_logo .sts_logo-strong::before,
    .sts_logo .sts_logo-systems::before{
         content: "";
         display: block;
    }

    /* move closer to protocol */
    .sts_logo .sts_logo-strong,
    .sts_logo .sts_logo-type,
    .sts_logo .sts_logo-systems {
         top: calc(1em * var(--wrapped-y-translate));
    }

    /* right align */
    .sts_logo-systems {
        display: block;
        text-align: right;
    }

    body {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    header{
        /* for nav menu alignmnet right */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        align-items: end;
        margin-right: 1.5em;
    }

    .main-menu > ul {
        text-align: right;
    }
    .main-menu > ul li{
        display: block;
        margin-right: 0;
    }

    article {
        /* only in two column laayout aim for the "Strong-Type x-height"*/
        margin-top: calc(1.45rem * var(--logo-font-size-numeric));
        margin-left: 0;
    }
}
@media (min-width: 80em) {
    :root {
        --animation-progress: 0.75;
        --animation-position-mediaq: 80;
        --logo-font-size-numeric: 3.5;
    }
}
@media (min-width: 85em) {
    :root {
        --animation-progress: 0.8125;
        --animation-position-mediaq: 85;
        --logo-font-size-numeric: 3.666666666666667;
    }
}
@media (min-width: 90em) {
    :root {
        --animation-progress: 0.875;
        --animation-position-mediaq: 90;
        --logo-font-size-numeric: 3.8333333333333335;
    }
}
@media (min-width: 95em) {
    :root {
        --animation-progress: 0.9375;
        --animation-position-mediaq: 95;
        --logo-font-size-numeric: 4.0;
    }
}
@media (min-width: 100em) {
    :root {
        --animation-progress: 1.0;
        --animation-position-mediaq: 100;
        --logo-font-size-numeric: 4.166666666666667;
    }
}


/* start page setup */


/* for centering something like this to compensate the logo
header .sts_logo-wrapper {
     margin-right: var(--signet-size);
}
*/
:root{
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-size: 1.2rem;
}

body{
    margin: 1em;
    display: flex;
}

article {
    font-family: 'RobotoFlex', sans;
    max-width: 32.5em;
    --hyphens: auto;
    -webkit-hyphens: var(--hyphens);
       -moz-hyphens: var(--hyphens);
        -ms-hyphens: var(--hyphens);
            hyphens: var(--hyphens);
    line-height: calc(max(110%, 130% * min(32.5, var(--animation-position-mediaq)) / 32.5));
h1, h2, h3 {
    font-family: "RobotoSlab", serif;
}

h1 {
    --font-size-rem: 1.5;
    font-weight: 330;
}


.main-menu > ul {
    font-family: 'RobotoFlex', sans;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu > ul li > a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.main-menu > ul li.active a {
    content: " ◆";
    color: #c83737;
}
