<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body>
    <header>
      {%- include "sts_logo.html" -%}

      <nav class="main-menu">
                    {{ collections.all
                        | eleventyNavigation
                        | eleventyNavigationToHtml({
                            activeListItemClass: "active",
                            activeKey: eleventyNavigation.key
                        })
                        | safe
                    }}

         <ul>
            <!-- endfor -->
            <li class="social_links">
              <a class="social_link social_link-github" href="https://github.com/strong-type-systems" title="@strong-type-systems on GitHub">@strong-type-systems on GitHub
              </a>
              
               <a class="social_link social_link-mastodon social_link-instagram" href="https://typo.social/@strong_type_systems" title="@strong_type_systems on Mastodon">
      @strong_type_systems on Mastodon
      </a>
      
              <a class="social_link social_link-rss" href="feed.xml" title="Subscribe to Newsfeed">Subscribe to Newsfeed
              </a>
            </li>
         </ul>
      </nav>
    </header>
    <main class="{{ page.class }}">
      <article>
        {{ content | safe }}
      </article>
    </main>
    <footer>
       <a href="/impressum">Impressum</a>

    </footer>
  </body>
</html>


