---
layout: default.njk
---
<nav class="page-nav">
Back to <a href="{{rootPath}}/news">News</a><br />
</nav>

{% newsDate page %}

{% heading 'h1', title, page.fileSlug %}

{%- if lead %}
<p class="lead">{{lead | safe}}</p>
{% endif-%}
{{ content | safe }}
