<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <header>
      {%- include sts_logo.html -%}

      <nav class="main-menu">
        <!-- todo: include and generate -->
         <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/contact">Contact</a></li>
            <li class="social_links">
              <a class="social_link social_link-github" href="https://github.com/strong-type-systems" title="@strong-type-systems on GitHub">@strong-type-systems on GitHub</a>
              <a class="social_link social_link-twitter" href="https://twitter.com/StrongTypeSys" title="@StrongTypeSys on Twitter">@StrongTypeSys on Twitter</a>
              <a class="social_link social_link-instagram" href="https://www.instagram.com/strong_type_systems" title="@strong_type_systems on Instagram">@strong_type_systems on Instagram</a>
              <a class="social_link social_link-rss" href="feed.xml" title="Subscribe to Newsfeed">Subscribe to Newsfeed</a>
            </li>
         </ul>
      </nav>
    </header>
    <main class="{{ page.class }}">
      <article>
        <h1>
            {% if page.headline -%}
                {{ page.headline }}
            {%- else -%}
                {{ page.title }}
            {%- endif -%}
        </h1>
        {{ content }}
      </article>
    </main>
    <footer>
          {%- capture footer -%}{%- include footer.md -%}{%- endcapture- %}
          {{ footer | markdownify }}
    </footer>
  </body>
</html>


