---
eleventyNavigation:
  key: News
  order: 1.5
---
{% heading 'h1', 'All News', 'all-news' %}

<p>Follow us in the Fediverse: <a href="https://typo.social/@strong_type_systems"><span style="white-space:nowrap">@strong_type_systems@typo.social</span></a></p>

{% news collections.news %}
